@page
@model MascotaFeliz.App.Frontend.Pages.EditarVeterinariosModel
@{
 int veterinarioId = Model.veterinario.Id;
}
<h1 class="heading" style="text-align: center">Registrar y Actualizar veterinarios</h1>
<div class="one_quarter">

    <p class="nospace btmspace-15" style="    text-align: center;">Por favor digite datos del veterinario</p>
    <form class="form-group" method="post" style=" width: 25%; margin: 45px 400px -29px 86px; position: absolute; ">
        <fieldset>

            <input type="hidden" asp-for = "veterinario.Id" />
            <input class="btmspace-15 form-control"
                style=" background-color:#454d65; border-radius:10px;  width:100%; color: #cbb8b8" type="text"
                placeholder="Nombres" asp-for="veterinario.Nombres">
            <br>
            <input  class="btmspace-15 form-control"
                style=" background-color:#454d65; border-radius:10px;  width:100%; color: #cbb8b8" type="text"
                placeholder="Apellidos" asp-for="veterinario.Apellidos" >
            <br>
            <input  class="btmspace-15 form-control"
                style=" background-color:#454d65; border-radius:10px;  width:100%; color: #cbb8b8" type="text"
                placeholder="Direccion" asp-for="veterinario.Direccion">
            <br>
            <input  class="btmspace-15 form-control"
                style=" background-color:#454d65; border-radius:10px;  width:100%; color: #cbb8b8" type="text"
                placeholder="Telefono" asp-for="veterinario.Telefono">
            
            <br>
            <input  class="btmspace-15 form-control"
                style=" background-color:#454d65; border-radius:10px;  width:100%; color: #cbb8b8" type="text"
                placeholder="Tarjeta profesional" asp-for="veterinario.TarjetaProfesional">
           
                    <br>
           
            <br>
            <button class="btn btn-primary" height="40px" type="submit">Guardar</button>
        
        </fieldset>
        <br>
        <a asp-page="./ListaVeterinarios" class="btn-default">Lista de veterinarios</a>
    </form>

    <div class="one_quarter last">
        <img style="margin-top: 0%;     margin-left: 52%" src="~/images/dogcat1.png" alt="">
    </div>
</div>

